* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #BB2649;
    height: 40px;
    padding: 18px 20vb;
}

h1 {
    display: inline;
    color: white;
}

ul {
    color: white;
    font-size: 20px;
    margin-right: 100px;
}

ul li {
    list-style: none;
    display: inline;
    margin: 0 30px;
}

nav {
    margin-top: 10px;
    float: right;
    display: flex;
}

input {
    height: 20px;
}

/*바뀌기 전*/

.section {
    margin: 0 auto;
    width: 40%;
    margin-top: 100px;
}

.articles {
    border: 1px solid black;
    border-radius: 5px;
}

.col {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.box {
    color: white;
    background-color: #BB2649;
    border: 1px solid black;
    border-radius: 50px;
    padding: 4px 8px;
}

.article {
    border-bottom: 1px solid black;
    color: black;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}

.user {
    position: fixed;
    width: 200px;
    left: 75%;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.login {
    text-align: center;
}

.login button {
    color: white;
    background-color: #BB2649;
    border-radius: 10px;
    width: 200px;
    margin-top: 7px;
}

.login input {
    width: 200px;
    border: 0;
    border-bottom: 1px solid black;
}

.login a {
    color: gray;
    font-size: 5px;
}

/*article*/
.mainArticle {
    width: 100vb;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

/* writing */
.write {
    width: 100vb;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
}
